@model Orchard.DynamicForms.ViewModels.SubmissionViewModel
@{
    Style.Include("DynamicForms.FormElements");
    Script.Include("ShapesBase");
}
@{
    Layout.Title = T("Submission for {0}", Model.Submission.FormName);
}
<table class="table">
    <thead>
        <tr>
            <th>Field</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>ID</td>
            <td>@Model.Submission.Id</td>
        </tr>
        <tr>
            <td>Created</td>
            <td>@Display.DateTime(DateTimeUtc: Model.Submission.CreatedUtc)</td>
        </tr>
        @foreach (string key in Model.NameValues) {
            <tr>
                <td>@key</td>
                <td>@Model.NameValues[key]</td>
            </tr>
        }
    </tbody>
</table>