@using Orchard.ContentManagement;
@using Orchard.Core.Common.Models;
@using Orchard.PublishLater.Models;
@{
    PublishLaterPart publishLaterPart = Model.ContentPart;
    DateTime? versionPublishedUtc = publishLaterPart.As<CommonPart>() == null ? null : publishLaterPart.As<CommonPart>().VersionPublishedUtc;
}
<ul class="nav nav-pills">
    @* Published or not *@
    @if (publishLaterPart.HasPublished()) {
        <li class="text-success"><i class="fa fa-check-circle fa-fw" title="The page is currently online"></i> Published</li>
    } else {
        <li class="text-danger"><i class="fa fa-times-circle fa-fw" title="The page is currently offline"></i> Not Published</li>
    }
    @if ((((DateTime?)Model.ScheduledPublishUtc).HasValue && ((DateTime?)Model.ScheduledPublishUtc).Value > DateTime.UtcNow) || (publishLaterPart.IsPublished() && versionPublishedUtc.HasValue)) {
        if (publishLaterPart.IsPublished() && versionPublishedUtc.HasValue) {
            <li>@T(": {0}", Display.DateTimeRelative(DateTimeUtc: versionPublishedUtc.Value))</li>
        } else {
            <li><i class="fa fa-clock-o fa-fw" title="The page is scheduled for publishing"></i> Scheduled</li>
            <li>
                @Display.DateTime(DateTimeUtc: ((DateTime?)Model.ScheduledPublishUtc).Value, CustomFormat: null)
            </li>
        }
    }
    @* Does the page have a draft *@
    @if (publishLaterPart.HasDraft()) {
        <li class="text-warning"><i class="fa fa-pencil-square-o fa-fw" title="The page has a draft"></i> Draft</li>
    } else {
        @*<li>No Draft</li>*@
    }
</ul>