@model Orchard.Core.Title.Models.TitlePart

<fieldset>
    <div class="input-group">
        <span class="input-group-addon">Title</span>
        @Html.TextBoxFor(m => m.Title, new { @class = "form-control", autofocus = "autofocus" })
    </div>
    <p class="help-block">@T("You must provide a title for this content item")</p>
</fieldset>
