@model Orchard.ContentTypes.ViewModels.ListContentTypesViewModel
@{
    Style.Require("ContentTypesAdmin");
    Script.Require("jQuery");
    Script.Include("admin-contenttypes.js");
    Layout.Title = T("Manage Content Types").ToString();
}
@Html.ActionLink(T("Create new type").ToString(), "Create", new { Controller = "Admin", Area = "Orchard.ContentTypes" }, new { @class = "btn btn-sm btn-success pull-right" })
<div class="row">
    <div class="col-sm-4">
        <div class="input-group input-group-sm pull-left">
            <span class="input-group-addon">
                @T("Filter:")
            </span>
            <input id="search-box" class="form-control" type="text" autofocus="autofocus" />
        </div>
    </div>
</div>
<br/>
<ul class="list-group">
    @foreach (var type in Model.Types)
    {
        <li data-record-text="@type.DisplayName" class="list-group-item">
            @Html.DisplayFor(m => type)
        </li>
    }
</ul>