@{
    var clock = WorkContext.Resolve<Orchard.Services.IClock>();
}
<br />
@T("Powered by <a href=\"{0}\" target=\"_blank\">Orchard</a>", "http://www.orchardproject.net")
<span class="copyright">@T("&#169; Copyright {0}.", clock.UtcNow.Year)</span>