@model dynamic

@{
    var siteName = WorkContext.CurrentSite.SiteName;
    var siteLinkText = !string.IsNullOrWhiteSpace(siteName) ? siteName : T("Your site").Text;
}
<a id="site" class="navbar-brand" href="~/" style="float:none">
    <span><img src="~/Themes/TheAdmin/Styles/Images/orchardLogo.gif" height="50" width="35"/></span>
    @siteLinkText
</a>