@model Orchard.Core.Common.OwnerEditor.OwnerEditorViewModel
@{
	var OwnerEditor = Model;
}
<fieldset>
    <div class="input-group">
        <span class="input-group-addon">Owner:</span>
        @Html.TextBoxFor(m => OwnerEditor.Owner,null,  new { @class = "form-control" })
    </div>
        @Html.ValidationMessageFor(m => OwnerEditor.Owner)
</fieldset>
