@using Orchard.ContentPermissions.Models;

@{
    ContentPermissionsPart contentPart = Model.ContentPart;
}

@if (contentPart.Enabled) {

    <div class="permission">
        <img class="icon" src="@Href("~/Modules/Orchard.ContentPermissions/Styles/Images/lock.gif")" alt="Permissions applied" title="Permissions applied" />
        @T("Protected")
    </div>
}
