@{
    Script.Require("jQueryColorBox").AtFoot();
    Script.Include("common-admin.js", "common-admin.min.js").AtFoot();
}
<fieldset class="close-button">
    <a id="button-close" href="#" class="button">Close</a>
</fieldset>