﻿@using Orchard.ContentManagement
@{
    Layout.Title = T("Settings").ToString();
}

@using (Html.BeginFormAntiForgeryPost()) {
    @Html.ValidationSummary()
    @Display(Model.Content)
    <fieldset>
        <button class="btn btn-success" type="submit">Save</button>
    </fieldset>
}