@using Orchard.Utility.Extensions

<button class="btn btn-success " type="submit" name="submit.Save" value="submit.Save">Save</button>

@{
    var returnUrl = Request.QueryString["returnUrl"];
}

@if (!string.IsNullOrWhiteSpace(returnUrl) && Request.IsLocalUrl(returnUrl))
{
    <a id="button-cancel" href="@returnUrl" class="btn btn-warning ">@T("Cancel")</a>
}
