/*
Theme: Theme Admin
Author: Orchard Team – http://www.orchardproject.net
Copyright: 2017, Orchard. All Rights Reserved
*/
#layout-main {
   background: #f3f4f5;
}
.navbar { 
    margin-bottom:0;
}

ul { padding:0; }
.navbar-default {
    background: #323232;
}

body {
    font-family: Segoe UI,Trebuchet,Arial,Sans-Serif;
}
.group-list ul {
    list-style: none;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #428bca;
    color: white;
}

.navbar-default .navbar-nav > li > a {
    line-height: 16px;
    color: #aec3ce;
}

.nav-tabs{
    border:none;
}

h4{
   font-weight: normal;
}

.navbar-brand {
    padding:0 8px;
}

@media (max-width: 768px) {
    .navbar-default {
        margin: 0 -15px;
    }
    body {
        background-color:#f3f4f5;
    }
}

body {
    font-family: Segoe UI,Trebuchet,Arial,Sans-Serif;
}
.group-list ul {
    list-style: none;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #428bca;
    color: white;
}

.navbar-default .navbar-nav > li > a {
    line-height: 16px;
    color: #aec3ce;
}

/* make sidebar nav vertical */
@media (min-width: 768px) {
    .affix-content .container {
        width: 700px;
    }

    html, body {
        background: #323232;
        height: 100%;
        overflow: hidden;
    }

    .affix-content .container .page-header {
        margin-top: 0;
    }

    .sidebar-nav {
        position: fixed;
        width: 100%;
    }

    .affix-sidebar {
        padding-right: 0;
        font-size: small;
        padding-left: 0;
    }

    .affix-row, .affix-container, .affix-content {
        height: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .affix-content {
        background: #f3f4f5;
    }

    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
    }

    .sidebar-nav .navbar {
        background: #323232;
        border-radius: 0;
        margin-bottom: 0;
        border: 0;
    }

        .sidebar-nav .navbar ul {
            float: none;
            display: block;
        }

        .sidebar-nav .navbar li {
            float: none;
            display: block;
        }

            .sidebar-nav .navbar li a {
                padding-top: 8px;
                padding-bottom: 8px;
            }
}

@media (min-width: 769px) {
    .affix-content {
        overflow: auto;
    }
    .affix-content .container {
        width: 600px;
    }

        .affix-content .container .page-header {
            margin-top: 0;
        }
}

@media (min-width: 992px) {
    .affix-content .container {
        width: 900px;
    }

        .affix-content .container .page-header {
            margin-top: 0;
        }
}

@media (min-width: 1220px) {
    .affix-row {
        overflow: hidden;
    }


        .affix-content .container {
            width: 1000px;
        }

            .affix-content .container .page-header {
                margin-top: 0;
            }

    .affix-title {
        border-bottom: 1px solid #ecf0f1;
        padding-bottom: 10px;
    }

    .navbar-nav {
        margin: 0;
    }

    .navbar-collapse {
        padding: 0;
    }

    .sidebar-nav .navbar li a:hover {
        background-color: #428bca;
        color: white;
    }

    .sidebar-nav .navbar li a > .caret {
        margin-top: 8px;
    }
}

a[aria-expanded=true] .fa-angle-right {
   display: none;
}
a[aria-expanded=false] .fa-angle-down {
   display: none;
}

.bootstrap-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  padding: 4px 6px;
  color: #555;
  vertical-align: middle;
  border-radius: 4px;
  max-width: 100%;
  line-height: 22px;
  cursor: text;
}
.bootstrap-tagsinput input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0 6px;
  margin: 0;
  width: auto;
  max-width: inherit;
}
.bootstrap-tagsinput.form-control input::-moz-placeholder {
  color: #777;
  opacity: 1;
}
.bootstrap-tagsinput.form-control input:-ms-input-placeholder {
  color: #777;
}
.bootstrap-tagsinput.form-control input::-webkit-input-placeholder {
  color: #777;
}
.bootstrap-tagsinput input:focus {
  border: none;
  box-shadow: none;
}
.bootstrap-tagsinput .tag {
  margin-right: 2px;
  color: white;
}
.bootstrap-tagsinput .tag [data-role="remove"] {
  margin-left: 8px;
  cursor: pointer;
}
.bootstrap-tagsinput .tag [data-role="remove"]:after {
  content: "x";
  padding: 0px 2px;
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}