@model Orchard.Tags.ViewModels.EditTagsViewModel

@{
    Script.Require("TagsAutocomplete");
}

<fieldset>
    <div class="input-group">
        <span class="input-group-addon">
            @T("Tags:")
        </span>
        @Html.TextBoxFor(m => m.Tags, new { @class = "form-control", @placeholder = "Separate multiple tags with commas" })
    </div>
</fieldset>

@using (Script.Foot())
{
    <script type="text/javascript">
        //<![CDATA[
        $(function () {
            $.tagsAutocomplete.autocomplete(
                '@Html.FieldIdFor(m => m.Tags)',
                '@Url.Action("FetchSimilarTags", new { Controller = "Admin", Area = "Orchard.Tags" })', 1);
        });
        //]]>
    </script>
}