@*@{ 
    var clock = WorkContext.Resolve<Orchard.Services.IClock>();
}
<br/>
<br/>
<span class="copyright">@T("&#169;{0} Janney Montgomery Scott LLC. All Rights Reserved.", clock.UtcNow.Year)</span>
*@