@model Orchard.Core.Common.ViewModels.DateTimeEditor

@{
    Style.Require("DateTimeEditor");
}

@if (Model.ShowDate)
{
    <div class="input-group">
        <span class="input-group-addon">Date:</span>
        <span class="date">@Html.TextBoxFor(m => m.Date, new { placeholder = Model.DatePlaceholder ?? T("Date").Text, @class = "form-control" })</span>
    </div>
}

@if (Model.ShowTime) {
    <div class="input-group">
        <span class="input-group-addon">Time:</span>
        <span class="time">@Html.TextBoxFor(m => m.Time, new { placeholder = Model.TimePlaceholder ?? T("Time").Text, @class = "form-control" })</span>
    </div>
}

@if (Model.ShowDate) { <text>@Html.ValidationMessageFor(m => m.Date)</text> }
@if (Model.ShowTime) { <text>@Html.ValidationMessageFor(m => m.Time)</text> }