@using Orchard.Blogs.Extensions;
@using Orchard.Blogs.Models;
@using Orchard.ContentManagement;
@using Orchard.Utility.Extensions;
@{
    ContentItem contentItem = Model.ContentItem;
    BlogPart blog = (BlogPart)contentItem.Get(typeof(BlogPart));
}
<a href="@Url.BlogForAdmin(blog)" title="List Posts">List Posts</a>@T(" | ")
<a href="@Url.BlogPostCreate(blog)" title="New Post">New Post</a>@T(" | ")