@using Orchard.Blogs.Extensions;
@using Orchard.Blogs.Models;
@if (AuthorizedFor(Orchard.Blogs.Permissions.ManageBlogs)) {
<div class="item-properties actions">
    <p><a href="@Url.BlogEdit((BlogPart)Model.ContentPart)" class="edit">Blog Properties</a></p>
</div>
}