@model Orchard.PublishLater.ViewModels.PublishLaterViewModel
@using Orchard.Core.Contents;

@if (Authorizer.Authorize(Permissions.PublishContent, Model.ContentItem))
{
    @Html.HiddenFor(m => m.Editor.ShowDate)
    @Html.HiddenFor(m => m.Editor.ShowTime)
    @Html.EditorFor(m => m.Editor)

    <input class="datepicker form-control" placeholder="Date">
    <button type="submit" name="submit.Save" value="submit.PublishLater" class="btn btn-default">Publish Later</button>

    using (Script.Foot())
    {
        <script>
            $(function () {
                $('.datepicker').datepicker({
                    format: 'mm/dd/yyyy',
                    startDate: '-3d'
                });
                // TODO: Does the below actually do anything? Where is the Command_PublishLater field?
                $('#@Html.FieldIdFor(m => m.Editor.Date)').focus(function () { $('#@ViewData.TemplateInfo.GetFullHtmlFieldId("Command_PublishLater")').attr("checked", "checked") });
                $('#@Html.FieldIdFor(m => m.Editor.Time)').focus(function () { $('#@ViewData.TemplateInfo.GetFullHtmlFieldId("Command_PublishLater")').attr("checked", "checked") });
            });
        </script>
    }
}